@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@import '@fontsource/inter';
@plugin 'flowbite/plugin';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

@source '../node_modules/flowbite';

@theme {
	--color-primary-50: #fdfdea;
	--color-primary-100: #fdf6b2;
	--color-primary-200: #fce96a;
	--color-primary-300: #faca15;
	--color-primary-400: #e3a008;
	--color-primary-500: #c27803;
	--color-primary-600: #9f580a;
	--color-primary-700: #8e4b10;
	--color-primary-800: #723b13;
	--color-primary-900: #633112;

	--color-fg-brand: var(--color-primary-600);
	--color-fg-brand-strong: var(--color-primary-800);
	--color-brand-softer: var(--color-primary-50);
	--color-brand-soft: var(--color-primary-100);
	--color-brand: var(--color-primary-600);
	--color-brand-medium: var(--color-primary-200);
	--color-brand-strong: var(--color-primary-700);
	--color-brand-subtle: var(--color-primary-200);
	--color-brand-light: var(--color-primary-500);
}

.dark {
	--color-fg-brand: var(--color-primary-400);
	--color-fg-brand-strong: var(--color-primary-300);
	--color-brand-softer: var(--color-primary-950);
	--color-brand-soft: var(--color-primary-900);
	--color-brand: var(--color-primary-500);
	--color-brand-medium: var(--color-primary-800);
	--color-brand-strong: var(--color-primary-600);
	--color-brand-subtle: var(--color-primary-800);
	--color-brand-light: var(--color-primary-400);
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #c1c1c1;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #a1a1a1;
}
